@font-face {
    font-family: 'Adore You';
    src: url(../Fuentes/Adore\ You.ttf);
}

@font-face {
    font-family: 'StagSans';
    src: url(../Fuentes/StagSans-Light.otf);
}

@font-face {
    font-family: 'StagSansBold';
    src: url(../Fuentes/StagSans-Bold.otf);
}


