.newsletterfondo{
    margin-top: 40px;
    background-color: white;
}

.newsletterfondo h3 {
    color: orange;
}

.newsletter-bar {
    color: #fff;
    padding: 20px;
    display: flex;
    display: inline-block;
    margin-bottom: 30px;

.correo{
    padding: 10px;
    font-size: 16px;
    border: 2px solid orange;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    margin-right: 50px;

}

.suscribirse{
            background-color: orange;
            color: #fff;
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: none;
            width: 250px;
            height: 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #ff7f00;
            }
        }
    }