*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
} 

h1 {
    color: orange;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    padding: 20px;
}

h3 {
    color: green;
}