.estrellas {
    color: orange;
    padding: .4rem;
    border-radius: 1rem;
}


.carousel-slide{
    background-color: blue($color: #000000);
}

.cuadro-resena {
    background-color: #eee8e8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 20px auto;
    width: 80%;
    max-width: 100%;

    img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin: 0 auto 20px auto;
    }
}

.container-reseña {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}