* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1 {
    color: orange;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    animation: 3s ease-in 0s opacityH1;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    padding: 20px;
}

h3 {
    color: green;
}

.whatsapp {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

@keyframes opacityH1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}