$fuenteh: 'Adore You', sans-serif;
$fuentegeneral: 'StagSans', sans-serif;
$fuentehotros: 'StagSansBold', sans-serif;


$colortitulo:    #F79B37  ;    // orange x colortitulo y borde cajas de imagen galeria
$colorcaja:    #E0E0E0     ; // Gris de las cajas
$colortituloytexto:   #2D2D2D ; //  Negro de los títulos y textos
$colorverde:    #84B753   ; //  Green x Verde
$colorgris:    #7C7C7C    ; // Gris oscuro (sería el de los textos que aparecen en las cajas para completar/elegir)